<div class="archive">
  <div class="section py-3" id="project">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-primary" style="margin-bottom:-8px;">Projects</h2>
                <ul>
                  <li>
                    <strong>주식회사코드벡터</strong>
                    <ul>
                      <li><strong>상삼성전자 모의해킹 (23.06.01 ~ present)</strong>
                        <br>- 삼성전자 WEB 모의해킹 진행
                      </li>
                      <li><strong>한화 에너지 모의침투 (23.05.02 ~ 23.05.05)</strong>
                        <br>- 한화 에너지 모의침투 진행
                      </li>
                      <li><strong>교보문고 모의해킹 (23.03.10 ~ 23.04.28)</strong>
                        <br>- 교보문고 APP & WEB 모의해킹 진행
                      </li>
                      <li><strong>한화 모의해킹 (23.01.01 ~ 23.01.30)</strong>
                        <br>- 한화 APP & WEB 모의해킹 진행
                      </li>
                      
                  </ul>
                </li>
                <br>
                    <br>
                    <li>
                        <strong>주식회사힐러스(HEALERSCO..LTD)</strong>
                        <ul>
                          <li><strong>이천시 메타버스 상담 플랫폼 개발 (2022-05 ~ 2022-08)</strong>
                            <br>URL: https://healerscontents.com/meta/meta/index.html
                            <br>- 포톤2를 이용한 멀티플레이 기능 및 유저간 채팅 기능 개발
                            <br>- 캐릭터 움직임 구현 및 멀티플레이 움직임 동기화 기능 개발
                            <br>- Tield를 이용한 맵 개발
                            <br>- 멀티플레이어를 따라다니는 각각의 카메라 구현
                            <br>- 마우스나 손가락(WebGL 환경)으로 터치시 움직임을 수 있는 조이스틱 기능 개발
                            <br>- WebSocket을 이용한 AI 상담 기능 구현</li>
                          <li><strong>오렌저스(iOS) 앱 개발 (2022-03 ~ 2022-06)</strong></li>
                          <li><strong>강남구청 비상구 플랫폼 홈페이지 개발(2022-03 ~ 2022-08)</strong>
                            <br>URL: https://139.150.72.81 (임시)
                          </li>
                          <li><strong>상주시 정신건강복지센터 숨 홈페이지 개발 (2022-01 ~ 2022-04)</strong>
                            <br>URL: https://sum-sangjumind.com/ (임시)
                          </li>
                          <li><strong>한경대학교 국외자매대학 홈페이지 개발 (2021-12 ~ 2022-03)</strong>
                            <br>URL: http://global.hknu.ac.kr/
                          </li>
                          <li><strong>경주시 정신건강복지센터 온나눔 홈페이지 개발 (2021-11 ~ 2021-12)</strong>
                            <br>URL: URL: https://www.onnanum.com/
                          </li>
                          <li><strong>이천시 행복솔루션 클릭 홈페이지 개발 (2021-10 ~ 2021-11)</strong>
                            <br>URL: URL: URL: https://happyclick.icheon.go.kr/#/
                          </li>
                          
                      </ul>
                    </li>
                    <br>
                </ul>
            </div>            
        </div>
    </div>
  </div>
  <hr>
  <div class="section py-3" id="bugbounty">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-primary">Bug bounty</h2>
                <small style="font-size: 14px;">I'll be back with a legendary bugbounty record. just wait. (2022  ~ present)</small>
                <ul>
                    <br>
                    <li><strong>2021</strong>
                        <ul>
                            <li>Kakao
                                <ul>
                                    <li>다음 금융 - 제보 1건</li>
                                </ul>
                            </li>
                            <li>Bugcamp
                                <ul>
                                    <li>마인크래프트 - 제보 1건</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <br>
                </ul>
            </div>
        </div>
    </div>
  </div>
  <hr>
  <div class="section py-3" id="ctf">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-primary" style="margin-bottom:-8px;">CTF</h2>
                <ul>
                    <br><br>
                    <li>
                        <strong>2022</strong>
                        <ul>
                          <li><em>84th</em>, NO ESCAPE CTF  <small>(team KShieldJr)</small></li>
                          <li><em>431th</em>, SECCON CTF 2022 Quals <small>(team KShieldJr)</small></li>
                          <li><em>75th</em>, 3rd stage MetaRed CTF Mexico<small>(team ㄱㄴㅇ)</small></li>
                      </ul>
                    </li>
                    <br>
                </ul>
            </div>            
        </div>
    </div>
  </div>
</div>
