<div id="particles-js" class="fullscreen">
  <div class="jumbotron text-center">
    {% if site.photo %}
    <img class="particles-photo" src="{{ site.photo }}" />
    {% endif %}
    <h1 class="particles-title">{{ site.title }}</h1>
    <h1 class="particles-subtitle">{{ site.taglong }}</h1>
    <div class="nowrap">
      <!-- {% if site.social.facebook %}
      <a class="particles-icon" href="https://www.facebook.com/{{ site.social.facebook }}">{% include svg/facebook.svg %}</a>
      {% endif %} -->
      <!-- {% if site.social.twitter %} -->
      <!-- <a class="particles-icon" href="https://twitter.com/{{ site.social.twitter }}">{% include svg/twitter.svg %}</a>
      {% endif %} -->
      <!-- {% if site.social.instagram %}      
      <a class="particles-icon" href="https://www.instagram.com/{{ site.social.instagram }}">{% include svg/instagram.svg %}</a>
      {% endif %} -->
      <!-- {% if site.social.linkedin %}
      <a class="particles-icon" href="https://www.linkedin.com/in/{{ site.social.linkedin }}">{% include svg/linkedin.svg %}</a>
      {% endif %} -->
      <!-- {% if site.social.stackoverflow %}
      <a class="particles-icon" href="https://stackoverflow.com/users/{{ site.social.stackoverflow }}">{% include svg/stackoverflow.svg %}</a>
      {% endif %} -->
      {% if site.social.github %}
      <a class="particles-icon" href="https://github.com/{{ site.social.github }}">{% include svg/github.svg %}</a>
      <a class="particles-icon" href="https://velog.io/@iooi75">{% include svg/twitter.svg %}</a>
      <!-- <a class="particles-icon" href="cv">{% include svg/cv-circled.svg %}</a> -->
    </div>
  </div>
  <div class="section py-3" id="ctf">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-primary" style="margin-bottom:-8px;">CTF</h2>
                <ul>
                    <br>
                    <li>
                        <strong>2022</strong>
                        <ul>
                            <li><em>84th</em>, NO ESCAPE CTF  <small>(team KShieldJr)</small></li>
                            <li><em>431th</em>, SECCON CTF 2022 Quals <small>(team KShieldJr)</small></li>
                            <li><em>75th</em>, 3rd stage MetaRed CTF Mexico<small>(team ㄱㄴㅇ)</small></li>
                        </ul>
                    </li>
                    <br>
                </ul>
            </div>            
        </div>
    </div>
  </div>
  <hr>
  <div class="section py-3" id="bugbounty">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <h2 class="text-primary">Bug bounty</h2>
                  <ul>
                      <br>
                      <li><strong>2022</strong>
                          <ul>
                              <li>Kakao
                                  <ul>
                                      <li>다음 금융 - 제보 1건</li>
                                  </ul>
                              </li>
                              <li>Bugcamp
                                  <ul>
                                      <li>마인크래프트 - 제보 1건</li>
                                  </ul>
                              </li>
                          </ul>
                      </li>
                      <br>
                      <br>
                      <br>
                      <li><strong>2018</strong>
                          <ul>
                              <li>KISA Bug Bounty Program
                                  <ul>
                                      <li>NAVER: SQL Injection(KVE-2018-1301) - rewarded <small>$1,000 USD</small></li>
                                  </ul>
                              </li>
                          </ul>
                      </li>
                      <br>
                      <li><strong>2017</strong>
                          <ul>
                              <li>NAVER PER(Privacy Enhancement Reward)
                                  <ul>
                                      <li>found 25+ vulns (XSS, Open Redirect)</li>
                                  </ul>
                              </li>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
  <hr>
  <div class="section py-3">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <h2 class="text-primary">Work Experience</h2>
                  <ul>
                      <br>
                      <li><strong>주식회사코드벡터<small></small>&nbsp;&nbsp;</strong>
                        <ul>
                            <li><em>Position</em>: 보안컨설턴트</li>
                            <li><em>Date</em>: 2022.12 ~ present</li>
                            <li><em>Task</em>: <small>모의해킹</small></li>
                        </ul>
                      </li>
                      <br>
                      <li><strong>주식회사힐러스(HEALERSCO..LTD)<small></small>&nbsp;&nbsp;</strong>
                          <ul>
                              <li><em>Position</em>: Security Researcher</li>
                              <li><em>Date</em>: 2021.09 ~ present</li>
                              <li><em>Task</em>: <small>모의해킹, R&amp;D</small></li>
                          </ul>
                      </li>
                      <br>
                      <li><strong>K-Shield Junior, <small>9기</small></strong>
                        <ul>
                            <li><em>Date</em>: 2022.09 ~ 2022.12</li>
                        </ul>
                      </li>
                      <br>
                  </ul>
              </div>
          </div>
      </div>
  </div>
  <div class="particles-scroll">
    <a class="particles-icon" href="#scroll">{% include svg/nav-arrow-down.svg %}</a>
  </div>
</div>
